In [1]:
import pandas as pd

import warnings
warnings.simplefilter('ignore')

In [2]:
# Importing the Dataset

df = pd.read_csv(r'clean.csv')
df

       Age  Heart_Rate  Calories  Gender_male
0       68       105.0     231.0            1
1       20        94.0      66.0            0
2       69        88.0      26.0            1
3       34       100.0      71.0            0
4       27        81.0      35.0            0
...    ...         ...       ...          ...
14995   20        92.0      45.0            0
14996   27        85.0      23.0            0
14997   43        90.0      75.0            0
14998   78        84.0      11.0            1
14999   63        92.0      98.0            1

[15000 rows x 4 columns]

In [3]:
# Seperating the Dependent and Independent variables.

X = df.drop(columns=['Calories'])
y = df['Calories']

In [4]:
# Splitting the data into Train and Test
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(X,y,random_state=42,train_size=0.8)

In [5]:
# Applying hyperParameter Tunning on ElasticNet Regression
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import GridSearchCV

estimator = ElasticNet()

param_grid = {'alpha':list(range(1,40)),'l1_ratio':[0.1,0.25,0.5,0.75,1]}

grid = GridSearchCV(estimator,param_grid,cv=5,scoring='neg_mean_squared_error')
grid.fit(x_train,y_train)
grid.best_params_

{'alpha': 1, 'l1_ratio': 1}

In [6]:
# Build the final model with alpha = 1 and l1_ratio = 1

model = ElasticNet(alpha=1,l1_ratio=1)
model.fit(x_train,y_train)

print('Intercept value is :',model.intercept_)
print('Coefficients are :',model.coef_)

Intercept value is : -489.59695718768694
Coefficients are : [0.52222044 5.82748904 0.        ]

- The Coefficient value of Gender_male columns is 0.
- So, we should drop the column and rebuild the model.

In [7]:
# Dropping the unnecessary columns

df = df.drop(columns=['Gender_male'])
df

       Age  Heart_Rate  Calories
0       68       105.0     231.0
1       20        94.0      66.0
2       69        88.0      26.0
3       34       100.0      71.0
4       27        81.0      35.0
...    ...         ...       ...
14995   20        92.0      45.0
14996   27        85.0      23.0
14997   43        90.0      75.0
14998   78        84.0      11.0
14999   63        92.0      98.0

[15000 rows x 3 columns]

In [8]:
# Seperating the Dependent and Independent variables.

X = df.drop(columns=['Calories'])
y = df['Calories']

In [9]:
# Splitting the data into Train and Test
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(X,y,random_state=42,train_size=0.8)

In [10]:
# Build the final model with alpha = 1 and l1_ratio = 1

model = ElasticNet(alpha=1,l1_ratio=1)
model.fit(x_train,y_train)

print('Intercept value is :',model.intercept_)
print('Coefficients are :',model.coef_)

Intercept value is : -489.59695718768694
Coefficients are : [0.52222044 5.82748904]

In [11]:
# Predicting on Train data
ypred_train = model.predict(x_train)

# Calculating Train r2 score and Cross Validation Score
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score

print('Train r2 score is :',r2_score(y_train,ypred_train))
print('cross validation score is :',cross_val_score(model,x_train,y_train,cv=5).mean())

# Predicting onTest data
ypred_test = model.predict(x_test)

# Calculating the Test r2 score
print('Test r2 score is :',r2_score(y_test,ypred_test))

Train r2 score is : 0.8258489106333575
cross validation score is : 0.8252874404661774
Test r2 score is : 0.8321805867315278